version: '3.8'

services:

  redis:
    image: redis:latest
    volumes:
      - redis_data:/data
    command: redis-server --requirepass ${REDIS_PASSWORD}
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    ports:
      - "6380:6379"
    restart: unless-stopped



  minio:
    image: minio/minio:latest
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "9000:9000"
      - "33621:33621"
    restart: unless-stopped



  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./ssl:/etc/nginx/ssl
    depends_on:
        - text_service
        - ai_service
        - session_service
    restart: unless-stopped



  text_service:
    build: ./backend/text_service
    image: text_service
    container_name: text
    depends_on:
      - redis
      - minio
    ports:
      - "127.0.0.1:8005:8000"
    restart: unless-stopped


  session_service:
    build: ./backend/session_service
    image: session_service
    container_name: session
    depends_on:
      - redis
    ports:
      - "127.0.0.1:8003:8000"
    restart: unless-stopped

  ai_service:
    build: ./backend/ai_service
    image: ai_service
    container_name: ai
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    depends_on:
      - redis
    ports:
      - "127.0.0.1:8006:8000"
    restart: unless-stopped

volumes:
  redis_data:
  minio_data: